*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 1s;
    scroll-behavior: smooth;
}
body{
    background-color: #a6acec;
}
header{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: #ace7ef;
}
header:hover{
    background-color: #7ce1ee;
}
header .brand{
    color: #3426f7;
    text-shadow: 2px 2px 2px #378af8;
    font-size: 50px;
}
header .btn{
    display: none;
}
.nav li{
    display: inline-block;
    list-style-type: none;
}
.nav li a{
    text-decoration: none;
    padding: 10px;
    margin: 2px;
    color: #ea7dc7;
    background-color: #cefff1;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.nav li a:hover{
    background-color: #9df7dd;
}
@media screen and (max-width:480px){
    header{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    header .btn{
        display: block;
        padding: 5px;
        background-color: #ace7ef;
        color: #3426f7;
        font-weight: bolder;
    }
    .nav{
        width: 100%;
        display: none;
    }
    .nav li{
        display: block;
    }
    .nav li a{
        display: block;
        text-decoration: none;
        padding: 10px;
        margin-bottom: 5px;
        background-color: #cefff1;
        color: #ea7dc7;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }
}
.nav-show{
    display: block;
    animation: navDropdown 1.5s;
    position: absolute;
    top: 63px;
    z-index: -1;
}
@keyframes navDropdown{
    0%{
        transform: translateY(-250px);
    }
    100%{
        transform: translateY(0);
    }
}